html {
    background-color: #778899;
}
header {
    background-color: #b0c4de;
    padding: 10px;
    height: 120px;
    margin: 0 auto;
}
a {
    margin: 0 5px;
}
#img1 {
    width: 70%;
}